* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --cor-primaria: #98336C;
  --cor-secundaria: #486288;
  --fundo: #718387;
  --texto-primario: #000000;
  --texto-secundario: #FFFFFF;

}
